@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  scroll-behavior: smooth;
  background-color: #030b16;
  font-family: "Poppins";
}
body nav #navMobile {
  display: none;
}
body nav #navWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1vh 0 1vh 0;
  color: whitesmoke;
}
body nav #navWeb .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  text-align: left;
  padding-left: 5em;
}
body nav #navWeb .name img {
  border-radius: 10px;
}
body nav #navWeb .name h4 {
  padding: 0 0 0 3vw;
}
body nav #navWeb .navbar {
  padding: 0 3vw 0 0;
}
body nav #navWeb .navbar ul {
  display: inline-flex;
  list-style: none;
}
body nav #navWeb .navbar ul:hover li:not(:hover) a {
  opacity: 0.2;
}
body nav #navWeb .navbar ul li {
  border-bottom: 1px solid rgba(196, 155, 104, 0.548);
  position: relative;
}
body nav #navWeb .navbar ul li::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: #ffd66d;
  transform: scaleX(0);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body nav #navWeb .navbar ul li:hover::after, body nav #navWeb .navbar ul li:active::after {
  transform: scaleX(1);
}
body nav #navWeb .navbar ul li a {
  display: flex;
  padding: 15px 25px;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body #home {
  background: url(images/fond.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #home .ml11 {
  text-align: center;
  font-weight: 700;
  font-size: 5vw;
}
body #home .ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
body #home .ml11 .line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #ffd66d;
  opacity: 0;
  transform-origin: 0 50%;
}
body #home .ml11 .letters {
  display: inline-block;
  line-height: 1em;
  color: whitesmoke;
}
body #home .svg-wrapper {
  position: relative;
  top: 10%;
  width: 260px;
  height: 50px;
  margin: 0 auto;
  transform: translateY(-50%);
}
body #home .svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
body #home .svg-wrapper .shape {
  fill: transparent;
  stroke-dasharray: 120 520;
  stroke-dashoffset: -379;
  stroke-width: 8px;
  stroke: #ffd66d;
  -webkit-animation: 0.5s drawafter linear forwards;
  animation: 0.5s drawafter linear forwards;
}
body #home .svg-wrapper .text {
  position: relative;
  top: -50px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 32px;
  text-align: center;
}
body #home .svg-wrapper .text a {
  text-decoration: none;
  color: #fff;
}
body #home aside {
  position: absolute;
  width: 5vw;
  height: 100vh;
  margin-top: 20vh;
  padding-right: 10vw;
}
body #home aside h1 {
  font-size: 20vh;
  text-align: center;
  color: rgba(11, 31, 58, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}
body #home .reso {
  position: relative;
  top: 10%;
  margin-top: 1em;
  display: inline-flex;
  justify-content: center;
}
body #home .reso .resologo {
  font-size: 1.5em;
  color: #ffd66d;
  margin: 1em;
  transition: 0.3s ease;
}
body #home .reso .resologo a {
  text-decoration: none;
  color: #ffd66d;
}
body #home .reso .resologo:hover {
  transform: scale(1.25);
  transition: 0.3s ease;
}
body aside {
  position: absolute;
  top: 90vh;
  z-index: -1;
  width: 5vw;
  height: 100vh;
  margin-top: 10vh;
}
body aside h1 {
  margin: 0;
  font-size: 20vh;
  color: rgba(255, 214, 109, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
  text-align: center;
}
body #projets {
  background-color: #030b16;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
body #projets .article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 100px;
  width: 80%;
}
body #projets .article .column {
  height: 610px;
  width: 400px;
  margin: 20px 0;
  border: 2px inset #ffd66d;
  background-color: aqua;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}
body #projets .article .column .img1 {
  background-image: url("./images/dribbble_template.png");
  background-size: cover;
}
body #projets .article .column .img2 {
  background-image: url("./images/spaceVisual.png");
  background-size: cover;
}
body #projets .article .column .img3 {
  background-image: url("./images/projetSante.png");
  background-size: cover;
}
body #projets .article .column .img4 {
  background-image: url("./images/projetGaminG.png");
  background-size: contain;
}
body #projets .article .column .img5 {
  background-image: url("./images/projetAnciens.png");
}
body #projets .article .column .post-module {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
}
body #projets .article .column .post-content {
  height: 360px;
  border-top: 1px solid #030b16;
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
body #projets .article .column .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  font-size: 26px;
  font-weight: 700;
}
body #projets .article .column .post-content .subTitle {
  margin: 0;
  padding: 0 0 20px;
  font-size: 20px;
  font-weight: 400;
}
body #projets .article .column .post-content .description {
  font-size: 14px;
  line-height: 1.8em;
}
body #projets .article .column .post-content .post-meta {
  margin: 30px 0;
  color: #030b16;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #projets .article .column .post-content .button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body #projets .article .column .post-content .button button {
  padding: 6px 9px;
  color: #ffd66d;
  font-family: "Poppins";
  font-weight: 700;
  background-color: #030b16;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
body #profil {
  margin-top: 10vw;
  color: #ffd66d;
  font-size: 2.5vh;
}
body #profil aside {
  width: 100%;
  margin-top: 10vh;
}
body #profil aside h1 {
  margin: 10vh 0 0;
  font-size: 12vw;
  color: rgba(255, 214, 109, 0.5);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: right;
}
body #profil .content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: center;
}
body #profil .content .row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
body #profil .content .row img {
  border-radius: 50%;
  height: 350px;
  margin: 2vw;
}
body #profil .content .row .description {
  width: 50vw;
}
body #profil .content .row .description .title {
  font-size: 2vw;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  body nav #navWeb {
    display: none;
  }
  body nav #navMobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  body nav #navMobile .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  body nav #navMobile .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  body nav #navMobile .toggler:checked + .hamburger > div::before, body nav #navMobile .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(90deg);
  }
  body nav #navMobile .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  body nav #navMobile .toggler:checked ~ .menu {
    visibility: visible;
  }
  body nav #navMobile .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  body nav #navMobile .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.2s ease 0.2s;
  }
  body nav #navMobile .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body nav #navMobile .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  body nav #navMobile .hamburger > div::before, body nav #navMobile .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  body nav #navMobile .hamburger > div::after {
    top: 10px;
  }
  body nav #navMobile .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body nav #navMobile .menu > div {
    background: #0b1f3ab1;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  body nav #navMobile .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  body nav #navMobile .menu > div > div > ul li {
    list-style: none;
    color: #ffd66d;
    font-size: 1.5rem;
    padding: 1rem;
  }
  body nav #navMobile .menu > div > div > ul li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  body #projets .article {
    flex-direction: column;
  }
  body #projets .article article {
    width: 80vw;
  }
  body #projets .article article .img {
    width: 100%;
    background-size: cover;
  }
  body #profil .content .text {
    flex-flow: column nowrap;
  }
}
@keyframes draw {
  0% {
    stroke-dasharray: 120 520;
    stroke-dashoffset: -379;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
}
@keyframes drawafter {
  0% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 4px;
  }
  100% {
    stroke-dasharray: 120 520;
    stroke-dashoffset: -379;
    stroke-width: 8px;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
